# توکن جدیدت رو اینجا بذار (بعد از revoke کردن توکن قبلی در BotFather)
BOT_TOKEN=PUT_YOUR_NEW_TOKEN_HERE

ADMIN_IDS=5997515450
CHANNEL_USERNAME=@GetYTMedia
CHANNEL_LINK=https://t.me/GetYTMedia

FREE_DAILY_LIMIT=5
MAX_FILE_MB=500

SUPPORT_USERNAME=@irezafattahi

BTC_ADDRESS=bc1qcskpuht93n25955qlkz3clh27tfa5njcg6k5t7
USDT_TRC20_ADDRESS=TQ3FbpDYiKxf8aZtKuxBiWaj9N7LQnQY4F
